https://linuxconfig.org/how-to-install-the-nvidia-drivers-on-fedora-31
https://us.download.nvidia.com/XFree86/Linux-x86/367.57/README/supportedchips.html
https://rpmfusion.org/Howto/CUDA
https://www.dedoimedo.com/computers/fedora-30-nvidia-guide.html
https://ask.fedoraproject.org/t/fedora-31-gnome-nvidia-driver-conflicts/3572
